@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.help-panel {
  max-width: 580px;
  width: 100vw;
  height: 100% !important;
}

#help-text {
  margin: 30px;
}

#help-text p,li {
  font-size: 15px;
  line-height: 1.5;

  font-family: 'Roboto', 'Open Sans', sans-serif;

  color: hsl(200, 10%, 10%);

  margin-top: 0;
}

#help-text li {
  margin-bottom: 10px;
}

#help-text h1, h2, h3 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#help-text h1 {
  font-weight: 300;
  font-size: 32px;
  color: hsl(200, 10%, 25%);

  margin-top: 0;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#help-text h1 .logo {
    width: 60px;
    margin-right: 18px;
}

#help-text h1 .text {
    display: flex;
    flex-direction: column;
}

#help-text h1 .text .subtitle {
    font-size: 14px;
    color: hsl(213, 10%, 30%);
    margin-left: 3px;
}

#help-text h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.25;
  color: hsl(200, 10%, 15%);

  margin-top: 40px;
  margin-bottom: 10px;
}

#help-text h3 {
  font-weight: 400;
  font-size: 13px;
  color: hsl(200, 10%, 30%);

  text-transform: uppercase;
  letter-spacing: 0.07em;

  margin-top: 20px;
  margin-bottom: 3px;
}

.help-indent {
  margin-left: 20px;
}

#help-text form {
    margin-top: 10px;
}

/* Media Queries */
@media (max-width: 600px) {
    #help-text h1 {
        font-size: 22px;
    }

    #help-text h1 .logo {
        width: 50px;
        margin-right: 15px;
    }

    #help-text h2 {
        font-size: 18px;
    }

    #help-text p,li {
        font-size: 14px;
    }
}
