#app-bar {
  display: inline-block;
  padding: 0 8px;

  z-index: 1300;
  background-color: #FFF;
}

#function-input {
  margin-left: 3px;
  margin-right: 75px;

  overflow: hidden;
  flex-grow: 1;

  font-size: 18px;
  font-family: 'KaTeX_Main';
}

#help-button {
  position: absolute;
  right: 0;
}

@media (max-width: 480px) {
    #function-input {
        font-size: 16px;
    }
}
