.control-panel {
  width: 330px;
  height: 100% !important;
  resize: horizontal;
  background-color: white;
}


/* Media Queries */

@media (max-width: 480px) {
  .control-panel {
    width: 100%;
  }

  .MuiBackdrop-root {
   background-color: unset !important;
  }

  .control-panel.changing {
    background-color: rgba(0, 0, 0, 0);
  }
}
